<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'ToDoList/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'ToDoList/js/search.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">     
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Навігаційне меню та бокове меню (sidebar-menu) -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="position-sticky">
                    <!-- Ваше бокове меню вставляється тут -->
                    {% if user.is_authenticated %}
                        <p class="name_list">Вітаємо, {{ user.first_name }}!</p>
                    {% else %}
                        <p>Ви не виконали вхід</p>
                        <a href="{% url 'login' %}">Вхід</a>
                    {% endif %}
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/accounts/profile/' %}active{% endif %}" href="{% url 'profile' %}">
                                <i class="fas fa-user"></i> <!-- Значок користувача -->
                                Профіль
                            </a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'index' %}">
                                <i class="fas fa-tasks"></i> <!-- Значок завдань -->
                                Мої завдання
                                <span id="taskCounter" class="badge bg-danger">{{ incomplete_tasks_count }}</span>
                            </a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/team_task/task_list/' %}active{% endif %}" href="{% url 'task_list' %}">
                                <i class="fas fa-briefcase"></i> <!-- Значок робочих завдань -->
                                Робочі завдання
                                <span id="taskCounter" class="badge bg-danger">{{ incoming_tasks_count }}</span>
                            </a>
                        </li>
                        
            
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/team_task/create_task/' %}active{% endif %}" href="{% url 'create_task' %}">
                                <i class="fas fa-tasks"></i> <!-- Значок завдань для команди -->
                                Завдання для команди
                                <span id="taskCounter" class="badge bg-danger">{{ unfinished_tasks_count }}</span>
                            </a>
                        </li>
            
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/team_task/create_user_group/' %}active{% endif %}" href="{% url 'create_user_group' %}">
                                <i class="fas fa-users"></i> <!-- Значок створення групи -->
                                Групи
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="logout">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light">
                            <i class="fas fa-sign-out-alt"></i> <!-- Bootstrap Icons -->
                            Вихід
                        </button>
                    </form>
                </div>
            </nav>
                <!-- Додайте кнопку "бургера" (включення бічного меню) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            

            <main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                    <!-- Додайте слайдер сюди -->
                <div class="content mt-3 mb-3">

                        <!-- Ваш основний контент вставляється тут -->
                    <div class="content mt-3 mb-3 mx-auto my-4">
                        <main>
                            {% block content %}
                            {% endblock content %}
                        </main>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Додайте це посилання для використання FontAwesome -->

</body>
</html>
